<template>
    <div>
        <v-tabs background-color="secondary" class="elevation-2" centered optional show-arrows>
            <v-tab :to="{name: 'admin/reservations'}">{{$t('views.admin.main.reservations')}}</v-tab>
            <v-tab :to="{name: 'admin/rooms'}">{{$t('views.admin.main.rooms')}}</v-tab>
            <v-tab :to="{name: 'admin/users'}">{{$t('views.admin.main.users')}}</v-tab>
        </v-tabs>
        <v-container>
            <router-view />
        </v-container>
    </div>
</template>
