<template>
    <v-card>
        <v-card-title>{{$t('views.admin.rooms.title')}}</v-card-title>

        <v-card-text>
            <item-dialog ref="roomDialog" :default-item="{name: '', bedCount: 0, price: 0}" :texts="roomDialogTexts"
                         :create="createRoom" :after-create="afterCreateRoom" :create-error="createRoomError"
                         :update="updateRoom" :after-update="afterUpdateRoom" :update-error="updateRoomError"
                         v-slot="{ item }">
                <v-row>
                    <v-col cols="12" sm="12" md="4">
                        <validation-provider :name="$t('views.admin.rooms.dialog.name')"
                                             rules="required"
                                             v-slot="{ errors }"
                                             slim>
                            <v-text-field v-model="item.name"
                                          :label="$t('views.admin.rooms.dialog.name')"
                                          :error-messages="errors"
                                          required/>
                        </validation-provider>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                        <validation-provider :name="$t('views.admin.rooms.dialog.bed-count')"
                                             rules="required|min_value:0"
                                             v-slot="{ errors }"
                                             slim>
                            <v-text-field v-model="item.bedCount"
                                          type="number"
                                          :label="$t('views.admin.rooms.dialog.bed-count')"
                                          :error-messages="errors"
                                          required/>
                        </validation-provider>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                        <validation-provider :name="$t('views.admin.rooms.dialog.price')"
                                             rules="required|min_value:0"
                                             v-slot="{ errors }"
                                             slim>
                            <v-text-field v-model="item.price"
                                          type="number"
                                          :label="$t('views.admin.rooms.dialog.price')"
                                          :error-messages="errors"
                                          required/>
                        </validation-provider>
                    </v-col>
                </v-row>
            </item-dialog>

            <backend-data-table ref="roomsTable" :headers="headers" :fetcher="roomFetcher">
                <template #item.action="{ item }">
                    <v-btn @click="roomDialog.open('edit', item)" icon>
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>

                    <confirm-dialog :confirm="() => deleteRoom(item)"
                                    :on-error="$t('views.admin.rooms.delete-dialog.error')"
                                    v-slot="{ on }"
                                    :title="$t('views.admin.rooms.delete-dialog.title')"
                                    :confirm-text="$t('views.admin.rooms.delete-dialog.delete')"
                                    :cancel-text="$t('views.admin.rooms.delete-dialog.cancel')">
                        <v-btn v-on="on" color="error" icon>
                            <v-icon>mdi-delete</v-icon>
                        </v-btn>
                    </confirm-dialog>
                </template>
            </backend-data-table>
        </v-card-text>
    </v-card>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {i18n} from "@/plugins/i18n";
    import roomsBackend, {Room} from "@/js/backend/admin/rooms";
    import {TableHeader} from "@/plugins/vuetify";
    import BackendDataTable from "@/components/BackendDataTable.vue";
    import {ValidationObserver, ValidationProvider} from "vee-validate";
    import {Ref} from "vue-property-decorator";
    import {isBackendRequestError} from "@/js/backend/backend-utils";
    import ItemDialog from "@/components/ItemDialog.vue";
    import {ItemDialogTexts} from "@/components/ItemDialog";
    import ConfirmDialog from "@/components/ConfirmDialog.vue";

    @Component({
        components: {ConfirmDialog, ItemDialog, BackendDataTable, ValidationProvider, ValidationObserver}
    })
    export default class RoomsView extends Vue {

        headers: TableHeader[] = [
            {text: i18n.t('views.admin.rooms.list.name') as string, value: "name"},
            {text: i18n.t('views.admin.rooms.list.bed-count') as string, value: "bedCount"},
            {text: i18n.t('views.admin.rooms.list.price') as string, value: "price"},
            {text: i18n.t('views.admin.rooms.list.actions') as string, value: "action", sortable: false},
        ];

        roomFetcher = roomsBackend.list;

        @Ref() readonly roomsTable!: any;
        @Ref() readonly roomDialog!: any;

        roomDialogTexts: ItemDialogTexts = {
            createButton: i18n.t('views.admin.rooms.create') as string,
            create: {
                title: i18n.t('views.admin.rooms.dialog.title.create') as string,
                save: i18n.t('views.admin.rooms.dialog.save.create') as string,
                cancel: i18n.t('views.admin.rooms.dialog.cancel.create') as string,
                error: i18n.t('views.admin.rooms.dialog.errors.could-not-create-room') as string
            },
            edit: {
                title: i18n.t('views.admin.rooms.dialog.title.edit') as string,
                save: i18n.t('views.admin.rooms.dialog.save.edit') as string,
                cancel: i18n.t('views.admin.rooms.dialog.cancel.edit') as string,
                error: i18n.t('views.admin.rooms.dialog.errors.could-not-update-room') as string
            }
        };

        async createRoom(room: Room) {
            return await roomsBackend.create(room);
        }

        async afterCreateRoom() {
            await this.roomsTable.refresh();
        }

        createRoomError(error: any): string | false {
            if (isBackendRequestError(error) && error.code === "name-taken")
                return this.$t('views.admin.rooms.dialog.errors.name-taken') as string;
            return false;
        }

        async updateRoom(room: Room) {
            return await roomsBackend.update(room);
        }

        async afterUpdateRoom() {
            await this.roomsTable.refresh();
        }

        updateRoomError(error: any): string | false {
            if (isBackendRequestError(error) && error.code === "name-taken")
                return this.$t('views.admin.rooms.dialog.errors.name-taken') as string;
            return false;
        }

        async deleteRoom(room: Room) {
            await roomsBackend.delete(room);
            this.roomsTable.refresh();
        }

    }
</script>
