<template>
    <v-card>
        <v-card-title>{{$t('views.admin.users.title')}}</v-card-title>

        <v-card-text>
            <backend-data-table ref="usersTable" :headers="headers" :fetcher="usersFetcher">
                <template #item.role="{ item }">
                    {{$t('views.admin.users.role.' + item.role)}}
                </template>
            </backend-data-table>
        </v-card-text>
    </v-card>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {i18n} from "@/plugins/i18n";
    import {TableHeader} from "@/plugins/vuetify";
    import BackendDataTable from "@/components/BackendDataTable.vue";
    import {ValidationObserver, ValidationProvider} from "vee-validate";
    import usersBackend from "@/js/backend/admin/users";

    @Component({
        components: {BackendDataTable, ValidationProvider, ValidationObserver}
    })
    export default class UsersView extends Vue {

        headers: TableHeader[] = [
            {text: i18n.t('views.admin.users.list.email') as string, value: "email"},
            {text: i18n.t('views.admin.users.list.role') as string, value: "role"},
        ];

        usersFetcher = usersBackend.list;

    }
</script>
