<template>
    <div>
        <v-data-table :headers="headers" :options.sync="options" :loading="loading"
                      :items="items" :server-items-length="totalItemCount"
                      :footer-props="footerProps" :items-per-page="itemsPerPage"
                      v-bind="$attrs" v-on="$listeners">
            <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
                <slot :name="slot" v-bind="scope"/>
            </template>
        </v-data-table>
        <v-snackbar v-model="showError" :timeout="5000" color="error" top>
            {{$t('components.data-table.errors.failed-to-fetch-items')}}
            <v-btn @click="showError = false" text>{{$t('common.snackbar.close')}}</v-btn>
        </v-snackbar>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {Prop, Watch} from "vue-property-decorator";
    import {DataFooterOptions, DataTableOptions, TableHeader} from "@/plugins/vuetify";
    import {Pagination} from "@/js/backend/backend-utils";

    @Component
    export default class BackendDataTable<T = any> extends Vue {

        options: DataTableOptions = {
            page: 1,
            itemsPerPage: 10,
            sortBy: [],
            sortDesc: []
        } as any;
        loading: boolean = true;

        footerProps: DataFooterOptions = {} as any;

        items: T[] = [];
        totalItemCount: number = 0;

        showError: boolean = false;
        restoringOptions: boolean = false;

        @Prop({required: true}) readonly headers!: TableHeader[];
        @Prop({required: true}) readonly fetcher!: (page: number, itemsPerPage: number, sortColumn?: string, sortOrder?: -1 | 0 | 1) => Promise<Pagination<T>>;
        @Prop({default: () => [1, 2, 5, 10]}) readonly itemsPerPageOptions!: number[];
        @Prop({default: () => 10}) readonly itemsPerPage!: number;

        mounted() {
            this.options.itemsPerPage = this.itemsPerPage;
            this.filterItems(this.options);
        }

        @Watch("itemsPerPageOptions", {immediate: true, deep: true})
        onItemsPerPageOptions() {
            this.footerProps.itemsPerPageOptions = this.itemsPerPageOptions;
        }

        @Watch("options", {deep: true})
        onOptions(newOptions: DataTableOptions, oldOptions: DataTableOptions) {
            if (this.restoringOptions) {
                this.restoringOptions = false;
                return;
            }

            if (this.loading) {
                this.restoringOptions = true;
                this.options = oldOptions;
                return;
            }

            this.filterItems(oldOptions);
        }

        async filterItems(oldOptions: DataTableOptions) {
            this.loading = true;
            this.showError = false;

            const sortColumn: string | undefined = this.options.sortBy[0];
            const sortOrder = sortColumn ? (this.options.sortDesc[0] ? -1 : 1) : undefined;

            try {
                const pagination = await this.fetcher(this.options.page, this.options.itemsPerPage, sortColumn, sortOrder);

                this.items = pagination.data;
                this.totalItemCount = pagination.totalCount;
            } catch (error) {
                console.error(error);
                this.showError = true;
                this.restoringOptions = true;
                this.options = oldOptions;
            }

            this.loading = false;
        }

        async refresh() {
            await this.filterItems(this.options);
        }

    }
</script>
