<template>
    <v-dialog v-model="dialog" @close="close" max-width="500px">
        <template #activator="{ on }">
            <v-btn color="primary" dark class="mb-2" @click="open('create')">
                {{texts.createButton}}
            </v-btn>
        </template>
        <v-card :loading="busy" :disabled="busy">
            <v-card-title>
                {{state === 'create' ? texts.create.title : texts.edit.title}}
            </v-card-title>

            <validation-observer ref="itemValidation" slim v-slot="{ handleSubmit }">
                <v-form @submit="handleSubmit(save)">
                    <v-card-text>
                        <v-container>
                            <v-alert type="error" class="ma-0" v-if="error">
                                {{error}}
                            </v-alert>

                            <slot :item="editedItem"/>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer/>
                        <v-btn color="error" @click="close" text>
                            {{state === 'create' ? texts.create.cancel : texts.edit.cancel}}
                        </v-btn>
                        <v-btn color="primary" @click="save" text>
                            {{state === 'create' ? texts.create.save : texts.edit.save}}
                        </v-btn>
                    </v-card-actions>
                </v-form>
            </validation-observer>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {ValidationObserver} from "vee-validate";
    import {Prop, Ref} from "vue-property-decorator";
    import {ClassObject} from "@/declarations/vue-helper-types";
    import {ItemDialogState, ItemDialogTexts} from "@/components/ItemDialog";

    @Component({
        components: {ValidationObserver}
    })
    export default class ItemDialog<T> extends Vue {

        dialog: boolean = false;
        error: string | null = null;
        busy: boolean = false;
        state: ItemDialogState = "create";
        editedItem: Partial<T> = {};

        @Ref() readonly itemValidation!: ClassObject<typeof ValidationObserver>;

        @Prop({required: true}) readonly defaultItem!: T;

        @Prop({default: true}) readonly allowCreate!: boolean;
        @Prop({default: async () => void (0)}) readonly create!: (item: T) => Promise<void>;
        @Prop({default: async () => void (0)}) readonly afterCreate!: () => Promise<void>;
        @Prop({default: () => false}) readonly createError!: (error: any) => string | false;

        @Prop({default: true}) readonly allowEdit!: boolean;
        @Prop({default: async () => void (0)}) readonly update!: (item: T) => Promise<void>;
        @Prop({default: async () => void (0)}) readonly afterUpdate!: () => Promise<void>;
        @Prop({default: () => false}) readonly updateError!: (error: any) => string | false;

        @Prop({required: true}) readonly texts!: ItemDialogTexts;

        open(state: ItemDialogState, item?: Partial<T>) {
            if (state === "create" && !this.allowCreate) return;
            if (state === "edit" && !this.allowEdit) return;

            this.state = state;
            this.busy = false;
            this.resetItem(item);
            this.dialog = true;
        }

        close() {
            this.dialog = false;
            this.busy = false;
            this.error = null;
            this.itemValidation.reset();
        }

        async save() {
            this.busy = true;
            this.error = null;

            if (!await this.itemValidation.validate()) {
                this.busy = false;
                return;
            }

            if (this.state === "create") {
                try {
                    await this.create(this.editedItem as T);
                    this.close();
                    await this.afterCreate();
                } catch (error) {
                    console.error(error);
                    this.busy = false;

                    const message = this.createError(error);

                    if (message) {
                        this.showError(message);
                    } else {
                        this.showError(this.texts.create.error);
                    }
                }
            } else if (this.state === "edit") {
                try {
                    await this.update(this.editedItem as T);
                    this.close();
                    await this.afterUpdate();
                } catch (error) {
                    console.error(error);
                    this.busy = false;

                    const message = this.updateError(error);

                    if (message) {
                        this.showError(message);
                    } else {
                        this.showError(this.texts.edit.error);
                    }
                }
            }
        }

        showError(error: string | null) {
            this.error = error;
        }

        resetItem(item: Partial<T> = this.defaultItem) {
            this.editedItem = {
                ...item
            };
        }

    }
</script>
