<template>
    <v-app-bar color="primary" class="white--text" app>
        <v-toolbar-title>
            <v-btn :to="{name: 'home'}" :input-value="false" color="white" text>
                <h1>{{$t('app.title')}}</h1>
            </v-btn>
        </v-toolbar-title>

        <v-spacer/>

        <v-toolbar-items class="overflow-hidden">
            <v-slide-group dark show-arrows>
                <v-slide-item>
                    <v-toolbar-items>
                        <v-btn :to="{name: 'reserve-room'}" color="white" text>
                            {{$t('components.navbar.reserve-room')}}
                        </v-btn>
                        <v-btn :to="{name: 'reservations'}" color="white" text>
                            {{$t('components.navbar.reservations')}}
                        </v-btn>
                        <template v-if="isAdmin">
                            <v-btn :to="{name: 'admin'}" color="white" text>{{$t('components.navbar.admin')}}</v-btn>
                        </template>
                    </v-toolbar-items>
                </v-slide-item>
            </v-slide-group>
        </v-toolbar-items>

        <v-btn @click="logoutUser" :loading="logout.loading" color="white" text>
            {{$t('components.navbar.logout')}}
        </v-btn>

        <v-snackbar v-model="logout.error.show" :timeout="5000" color="error" top>
            {{$t('components.navbar.errors.failed-to-logout')}}
            <v-btn @click="logout.error.show = false" text>{{$t('common.snackbar.close')}}</v-btn>
        </v-snackbar>
    </v-app-bar>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {authModule} from "@/store/store";
    import {safeRedirect} from "@/js/router-utils";
    import {defaultUnauthorizedPage} from "@/plugins/router";

    @Component
    export default class NavBar extends Vue {

        logout = {
            loading: false,
            error: {
                show: false
            }
        };

        get isAdmin(): boolean {
            return authModule.isAdmin;
        }

        async logoutUser() {
            this.logout.loading = true;
            this.logout.error.show = false;

            try {
                await authModule.logout();
                await safeRedirect(defaultUnauthorizedPage);
            } catch (error) {
                console.error(error);
                this.logout.error.show = true;
            }

            this.logout.loading = false;
        }

    }
</script>
