<template>
    <v-app>
        <nav-bar/>
        <v-content>
            <v-container>
                <slot/>
            </v-container>
        </v-content>
    </v-app>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import NavBar from "@/components/NavBar.vue";

    @Component({
        components: {NavBar}
    })
    export default class DefaultLayout extends Vue {

    }
</script>
