<template>
    <component :is="layout">
        <router-view/>
    </component>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class App extends Vue {

        defaultLayout: string = "default";

        get layout(): string {
            let layout = this.defaultLayout;
            for (let route of this.$route.matched) {
                if (route.meta.layout) layout = route.meta.layout;
            }
            return layout + "-layout";
        }

    }
</script>
