<template>
    <v-container style="max-width: 400px; margin-top: 60px">
        <v-card :loading="loading">
            <v-card-title>{{$t("views.login.title")}}</v-card-title>

            <v-card-text v-if="error.show" class="pb-0">
                <v-alert type="error" class="mb-0">{{error.message}}</v-alert>
            </v-card-text>

            <v-card-text>
                <validation-observer v-slot="{ handleSubmit }" slim>
                    <v-form @submit.prevent="handleSubmit(submit)">
                        <validation-provider :name="$t('views.login.email')"
                                             rules="required|email"
                                             v-slot="{ errors }"
                                             slim>
                            <v-text-field v-model="email"
                                          :label="$t('views.login.email')"
                                          :error-messages="errors"
                                          required/>
                        </validation-provider>

                        <validation-provider :name="$t('views.login.password')"
                                             rules="required"
                                             v-slot="{ errors }"
                                             slim>
                            <v-text-field v-model="password"
                                          :label="$t('views.login.password')"
                                          type="password"
                                          :error-messages="errors"
                                          required/>
                        </validation-provider>

                        <div class="d-flex justify-space-between align-center mt-2">
                            <v-btn color="primary" type="submit">
                                {{$t('views.login.login')}}
                            </v-btn>

                            <i18n path="views.login.register" class="text-right">
                                <template #link>
                                    <br>
                                    <router-link :to="{name: 'register'}">
                                        {{$t('views.login.register-link')}}
                                    </router-link>
                                </template>
                            </i18n>
                        </div>
                    </v-form>
                </validation-observer>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {ValidationObserver, ValidationProvider} from "vee-validate";
    import {defaultPage} from "@/plugins/router";
    import {Prop, Watch} from "vue-property-decorator";
    import {RawLocation} from "vue-router";
    import {authModule} from "@/store/store";
    import {isBackendRequestError} from "@/js/backend/backend-utils";

    @Component({
        components: {
            ValidationProvider,
            ValidationObserver
        }
    })
    export default class LoginView extends Vue {

        @Prop({default: () => defaultPage, type: [String, Object]})
        readonly redirectTo!: RawLocation;

        email: string = "";
        password: string = "";

        loading: boolean = false;

        error = {
            message: "",
            show: false
        };

        get isLoggedIn() {
            return authModule.isLoggedIn;
        }

        @Watch("isLoggedIn")
        onIsLoggedIn() {
            if (this.isLoggedIn) {
                this.$router.push(this.redirectTo);
            }
        }

        async submit() {
            this.loading = true;
            this.error.show = false;

            try {
                await authModule.login(this.email, this.password);
                this.reset();
            } catch (error) {
                if (isBackendRequestError(error) && error.code === "invalid-credentials") {
                    this.showError(this.$t("views.login.errors.invalid-credentials") as string);
                } else {
                    this.showError(this.$t("views.login.errors.could-not-login") as string);
                }
            }

            this.loading = false;
        }

        showError(error: string) {
            this.error.message = error;
            this.error.show = true;
        }

        reset() {
            this.email = "";
            this.password = "";
            this.error.show = false;
        }

    }
</script>
