<template>
    <v-container style="max-width: 400px; margin-top: 60px">
        <v-card :loading="loading" v-if="state === 'registering'">
            <v-card-title>{{$t("views.register.title")}}</v-card-title>

            <v-card-text v-if="error.show" class="pb-0">
                <v-alert type="error" class="mb-0">{{error.message}}</v-alert>
            </v-card-text>

            <v-card-text>
                <validation-observer v-slot="{ handleSubmit }" slim>
                    <v-form @submit.prevent="handleSubmit(submit)">
                        <validation-provider :name="$t('views.register.email')"
                                             rules="required|email"
                                             v-slot="{ errors }"
                                             slim>
                            <v-text-field v-model="email"
                                          :label="$t('views.register.email')"
                                          :error-messages="errors"
                                          required/>
                        </validation-provider>

                        <validation-provider :name="$t('views.register.password')"
                                             vid="password"
                                             rules="required"
                                             v-slot="{ errors }"
                                             slim>
                            <v-text-field v-model="password"
                                          :label="$t('views.register.password')"
                                          type="password"
                                          :error-messages="errors"
                                          required/>
                        </validation-provider>

                        <validation-provider :name="$t('views.register.password-confirm')"
                                             rules="required|confirmed:password"
                                             v-slot="{ errors }"
                                             slim>
                            <v-text-field v-model="passwordConfirm"
                                          :label="$t('views.register.password-confirm')"
                                          type="password"
                                          :error-messages="errors"
                                          required/>
                        </validation-provider>

                        <div class="d-flex justify-space-between align-center mt-2">
                            <v-btn color="primary" type="submit">
                                {{$t('views.register.register')}}
                            </v-btn>

                            <i18n path="views.register.login" class="text-right">
                                <template #link>
                                    <br>
                                    <router-link :to="{name: 'login'}">
                                        {{$t('views.register.login-link')}}
                                    </router-link>
                                </template>
                            </i18n>
                        </div>
                    </v-form>
                </validation-observer>
            </v-card-text>
        </v-card>
        <v-card v-if="state === 'registered'">
            <v-card-title>{{$t('views.register.after.title')}}</v-card-title>
            <v-card-text>
                <i18n path="views.register.after.body">
                    <template #link>
                        <router-link :to="{name: 'login'}">
                            {{$t('views.register.after.body-link')}}
                        </router-link>
                    </template>
                </i18n>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {ValidationObserver, ValidationProvider} from "vee-validate";
    import {authModule} from "@/store/store";
    import {isBackendRequestError} from "@/js/backend/backend-utils";

    @Component({
        components: {
            ValidationProvider,
            ValidationObserver
        }
    })
    export default class LoginView extends Vue {

        email: string = "";
        password: string = "";
        passwordConfirm: string = "";

        loading: boolean = false;
        state: "registering" | "registered" = "registering";

        error = {
            message: "",
            show: false
        };

        async submit() {
            this.loading = true;
            this.error.show = false;

            try {
                await authModule.register(this.email, this.password);
                this.reset();
                this.state = "registered";
            } catch (error) {
                if (isBackendRequestError(error) && error.code === "email-taken") {
                    this.showError(this.$t("views.register.errors.email-taken") as string);
                } else {
                    this.showError(this.$t("views.register.errors.could-not-register") as string);
                }
            }

            this.loading = false;
        }

        showError(error: string) {
            this.error.message = error;
            this.error.show = true;
        }

        reset() {
            this.email = "";
            this.password = "";
            this.passwordConfirm = "";

            this.loading = false;
            this.state = "registering";

            this.error.show = false;
        }

    }
</script>
