<template>
    <div>
        <v-expand-transition>
            <v-alert v-if="afterReserve" type="success" :elevation="1" border="left" colored-border>
                <h1 class="success--text">{{$t('views.reserve-room.success.title')}}</h1>
                <p>
                    {{$t('views.reserve-room.success.body')}}
                    <br>
                    <a href="#" @click="reset">
                        {{$t('views.reserve-room.success.reserve-another')}}
                    </a>
                </p>
            </v-alert>
        </v-expand-transition>

        <v-expand-transition>
            <v-card :loading="reserving" :disabled="reserving" v-if="!afterReserve">
                <v-card-title>{{$t('views.reserve-room.title')}}</v-card-title>

                <v-card-text>
                    <v-autocomplete :label="$t('views.reserve-room.select-room.label')"
                                    :items="rooms"
                                    v-model="selectedRooms"
                                    :loading="loadingRooms"
                                    autocomplete="off"
                                    :item-text="formatSelectedItem"
                                    return-object
                                    small-chips deletable-chips multiple clearable>
                        <template #prepend-item>
                            <v-list-item @click="toggleSelectAllRooms" ripple>
                                <v-list-item-action>
                                    <v-checkbox color="primary" :value="allRoomsSelected"
                                                @change="toggleSelectAllRooms"/>
                                </v-list-item-action>
                                <v-list-item-content>
                                    {{$t('views.reserve-room.select-room.select-all')}}
                                </v-list-item-content>
                            </v-list-item>
                            <v-divider class="my-2"/>
                        </template>
                        <template #item="{ item, attrs, on }">
                            <v-list-item-action>
                                <v-checkbox color="primary" :value="attrs.inputValue" v-on="on"/>
                            </v-list-item-action>
                            <v-list-item-content>
                                {{$t('views.reserve-room.select-room.item', item)}}
                            </v-list-item-content>
                        </template>
                    </v-autocomplete>

                    <div>
                        <v-expand-transition>
                            <p v-if="!selectedRoomsAreValid" class="ma-0">
                                {{$t('views.reserve-room.please-select-a-room')}}</p>

                            <div v-if="selectedRoomsAreValid">
                                <v-card class="mb-4">
                                    <v-card-text>
                                        {{$t('views.reserve-room.total-bed-count')}}:
                                        <strong>{{selectedRoomsTotalBedCount}}</strong>
                                        <br>
                                        {{$t('views.reserve-room.total-day-price')}}:
                                        <strong>{{selectedRoomsTotalDayPrice}}</strong>
                                    </v-card-text>
                                </v-card>

                                <v-text-field :value="selectedDatesText"
                                              :label="$t('views.reserve-room.select-dates')"
                                              @click:clear="selectedDates = []"
                                              clearable readonly/>

                                <v-date-picker v-model="selectedDates"
                                               :allowed-dates="filterDate"
                                               color="primary"
                                               range full-width no-title/>

                                <v-expand-transition>
                                    <div v-if="selectedDatesAreValid">
                                        <v-card color="secondary" class="my-4">
                                            <v-card-text class="white--text">
                                                {{$t('views.reserve-room.total-room-count')}}:
                                                <strong>{{selectedRooms.length}}</strong>
                                                <br>
                                                {{$t('views.reserve-room.total-bed-count')}}:
                                                <strong>{{selectedRoomsTotalBedCount}}</strong>
                                                <br>
                                                {{$t('views.reserve-room.total-days')}}:
                                                <strong>{{selectedDatesDays}}</strong>
                                                <br>
                                                {{$t('views.reserve-room.total-price')}}:
                                                <strong>{{selectedRoomsTotalPrice}}</strong>
                                            </v-card-text>
                                        </v-card>

                                        <v-btn color="primary" @click="reserveRooms" x-large>
                                            {{$tc('views.reserve-room.reserve', selectedRooms.length)}}
                                        </v-btn>

                                        <v-snackbar v-model="reservingError.show" :timeout="10000" color="error" top>
                                            {{reservingError.message}}
                                            <v-btn @click="reservingError.show = false" text>
                                                {{$t('common.snackbar.close')}}
                                            </v-btn>
                                        </v-snackbar>
                                    </div>
                                </v-expand-transition>
                            </div>
                        </v-expand-transition>
                    </div>
                </v-card-text>
            </v-card>
        </v-expand-transition>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import roomsBackend, {Reservation, RoomWithReservations} from "@/js/backend/rooms";
    import {Room} from "@/js/backend/admin/rooms";
    import {Watch} from "vue-property-decorator";
    import {moment} from "@/plugins/moment";
    import {Moment, MomentInput} from "moment";
    import {DateRange} from "moment-range";

    interface ReservationWithRoom {
        reservation: Reservation;
        room: Room;
    }

    @Component
    export default class ReserveRoomView extends Vue {
        rooms: RoomWithReservations[] = [];
        loadingRooms: boolean = false;

        selectedRooms: RoomWithReservations[] = [];
        selectedDates: string[] = [];

        reserving: boolean = false;
        afterReserve: boolean = false;
        reservingError = {
            show: false,
            message: ""
        };

        get selectedRoomsReservations(): ReservationWithRoom[] {
            return this.selectedRooms.flatMap(room => room.reservations.map(reservation => ({
                reservation: reservation,
                room: room
            })));
        }

        get allRoomsSelected(): boolean {
            return this.selectedRooms.length === this.rooms.length;
        }

        get selectedRoomsAreValid(): boolean {
            return this.selectedRooms.length > 0;
        }

        get selectedRoomsTotalBedCount(): number {
            return this.selectedRooms.reduce((sum, room) => sum + room.bedCount, 0);
        }

        get selectedRoomsTotalDayPrice(): number {
            return this.selectedRooms.reduce((sum, room) => sum + room.price, 0);
        }

        get selectedRoomsTotalPrice(): number {
            return this.selectedRoomsTotalDayPrice * this.selectedDatesDays;
        }

        get selectedDatesMoments(): Moment[] {
            return this.selectedDates.map(date => moment(date)).sort((a, b) => a.diff(b));
        }

        get selectedDatesRange(): DateRange {
            return moment.range(this.selectedDatesMoments[0], this.selectedDatesMoments[1]);
        }

        get selectedDatesDays(): number {
            return this.selectedDatesRange.duration("day") + 1;
        }

        get selectedDatesText() {
            if (this.selectedDates.length === 0) return "";
            const formattedDates = this.selectedDatesMoments.map(dateMoment => dateMoment.format("LL"));
            return `nuo ${formattedDates[0]} - iki ${formattedDates[1] || "..."}`;
        }

        get selectedDatesAreValid(): boolean {
            return this.selectedDates.length === 2;
        }

        mounted() {
            this.loadRooms();
        }

        @Watch("selectedRooms")
        onSelectedRooms() {
            if (this.hasReservationOverlap(...this.selectedDatesMoments)) {
                this.selectedDates = [];
            }
        }

        @Watch("selectedDates")
        onSelectedDates(newDates: string[], oldDates: string[]) {
            if (this.selectedDatesMoments.length !== 2) return;

            if (this.hasReservationOverlap(...this.selectedDatesMoments)) {
                this.selectedDates = oldDates;
            }
        }

        formatSelectedItem(item: RoomWithReservations) {
            return `${item.name} | ${item.bedCount} | ${item.price}`;
        }

        toggleSelectAllRooms() {
            if (this.allRoomsSelected) {
                this.selectedRooms = [];
            } else {
                this.selectedRooms = this.rooms.map(room => room);
            }
        }

        async loadRooms() {
            this.loadingRooms = true;

            try {
                this.rooms = await roomsBackend.all();
            } catch (error) {
                console.error(error);
            } finally {
                this.loadingRooms = false;
            }
        }

        async reserveRooms() {
            this.reserving = true;
            this.reservingError.show = false;

            try {
                const [from, to] = this.selectedDatesMoments.map(date => date.format("YYYY-MM-DD"));
                await roomsBackend.reserve(this.selectedRooms.map(room => room.id), from, to);
                this.afterReserve = true;
            } catch (error) {
                this.showError(this.$t("views.reserve-room.errors.could-not-reserve") as string);
            }

            this.reserving = false;
        }

        showError(message: string) {
            this.reservingError.show = true;
            this.reservingError.message = message;
        }

        filterDate(date: string) {
            return !this.hasReservationOverlap(date) && moment(date).isSameOrAfter(moment(), "day");
        }

        async reset() {
            this.selectedRooms = [];
            this.selectedDates = [];
            this.afterReserve = false;
            this.reservingError.show = false;

            await this.loadRooms();
        }

        hasReservationOverlap(from: MomentInput, to?: MomentInput): boolean;
        hasReservationOverlap(...moments: MomentInput[]): boolean;
        hasReservationOverlap(from: MomentInput, to: MomentInput = from): boolean {
            const dateRange = moment.range(moment(from), moment(to));

            for (let reservation of this.selectedRoomsReservations) {
                const reservationDateRange = moment.range(moment(reservation.reservation.from), moment(reservation.reservation.to));

                if (dateRange.overlaps(reservationDateRange, {adjacent: true})) {
                    return true;
                }
            }

            return false;
        }

    }
</script>
