<template>
    <v-card>
        <v-card-title>{{$t('views.user-reservations.title')}}</v-card-title>

        <v-card-text>
            <backend-data-table ref="reservationsTable" :headers="headers" :fetcher="reservationsFetcher">
                <template #item.confirmed="{ item }">
                    {{item.confirmed ?
                    $t('views.user-reservations.list.confirmed-yes') :
                    $t('views.user-reservations.list.confirmed-no')}}
                </template>
                <template #item.rooms="{ item }">
                    {{item.rooms.map(room => room.name).join(', ')}}
                </template>
                <template #item.action="{ item }">
                    <confirm-dialog v-if="!item.confirmed"
                                    :confirm="() => cancelReservation(item)"
                                    :on-error="$t('views.user-reservations.cancel-dialog.error')"
                                    v-slot="{ on }"
                                    :title="$t('views.user-reservations.cancel-dialog.title')"
                                    :confirm-text="$t('views.user-reservations.cancel-dialog.cancel-reservation')"
                                    confirm-color="warning"
                                    :cancel-text="$t('views.user-reservations.cancel-dialog.cancel')">
                        <v-btn v-on="on" color="warning" icon>
                            <v-icon>mdi-cancel</v-icon>
                        </v-btn>
                    </confirm-dialog>
                </template>
            </backend-data-table>
        </v-card-text>
    </v-card>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {i18n} from "@/plugins/i18n";
    import reservationBackend from "@/js/backend/reservations";
    import {TableHeader} from "@/plugins/vuetify";
    import BackendDataTable from "@/components/BackendDataTable.vue";
    import {ValidationObserver, ValidationProvider} from "vee-validate";
    import {Ref} from "vue-property-decorator";
    import ConfirmDialog from "@/components/ConfirmDialog.vue";
    import {ReservationWithRooms} from "@/js/backend/admin/reservations";

    @Component({
        components: {ConfirmDialog, BackendDataTable, ValidationProvider, ValidationObserver}
    })
    export default class ReservationsView extends Vue {

        headers: TableHeader[] = [
            {text: i18n.t('views.admin.reservations.list.from') as string, value: "from"},
            {text: i18n.t('views.admin.reservations.list.to') as string, value: "to"},
            {text: i18n.t('views.admin.reservations.list.confirmed') as string, value: "confirmed"},
            {text: i18n.t('views.admin.reservations.list.rooms') as string, value: "rooms", sortable: false},
            {text: i18n.t('views.admin.reservations.list.actions') as string, value: "action", sortable: false},
        ];

        reservationsFetcher = reservationBackend.list;

        @Ref() readonly reservationsTable!: any;

        async cancelReservation(reservation: ReservationWithRooms) {
            await reservationBackend.cancel(reservation.id);
            this.reservationsTable.refresh();
        }

    }
</script>
